body {
    background-image: url('/log\ in\ pagina/photo\'s/achtergrond.png');
    margin: 0;
}

#block_form {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 8rem;
    padding: 20px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

/*Dit is het logo*/
img {
    width: 30%;
}

h1 {
    margin-top: 0;
}

input[type="email"],
input[type="password"] {
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    width: 75%;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

/*Label onthoud mijn gegevens*/
label {
    color: #666;
    font-size: 14px;
}

input[type="checkbox"] {
    margin-right: 1px;
}

a {
    color: #4CAF50;
    text-decoration: none;
}

a:hover {
    color: #45a049;
}


#footer {
    position: fixed;
    bottom: 0;
    background-color: #333;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0 20px;
    width: 100%;
    box-sizing: border-box;
    font-family:system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}

#footer div {
    margin: 10px;
}

#copywrite {
    text-align: center;
    flex-grow: 1;
}

#contact {
    align-self: flex-end;
}

#contact a {
    color: white;
    text-decoration: none;
}

#contact a:hover {
    font-weight: 800;
    color: beige;
}

/*Dit is de aangepaste versie voor een smartphone*/
@media (max-width: 451px) {
    #block_form {
        max-width: 400px;
        margin: 0 auto;
    }

    #copywrite {
        text-align: left;
        /*Default*/
        flex-grow: 1;
    }
}